/* .loader {
  background:
    linear-gradient(0.25turn, transparent, #FFF, transparent),
    linear-gradient(#DDD, #DDD);
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: -315px 0, 0 0, 15px 140px, 65px 145px;
  animation: loading 2s infinite;
  border-radius: 6px;
}

@keyframes loading {
  to {
    background-position: 315px 0, 0 0, 15px 140px, 65px 145px;
  }
} */

:root {
  --shine-width: 200px;
}

.loader {
  overflow: hidden;
  position: relative;
  background: #eee;
}

.loader::before {
  content: '';
  position: absolute;
  top: 0;
  left: calc(-1 * ((200px / 2) + var(--shine-width)));
  width: var(--shine-width);
  height: 100%;
  background-image: linear-gradient(
    90deg,
    #eee 0px,
    rgba(255, 255, 255, 0.4) calc(var(--shine-width) / 2),
    #eee var(--shine-width)
  );
  background-repeat: repeat-x;
  animation: shine 1s infinite;
}

@keyframes shine {
  0% {
    left: calc(-1 * ((200px / 2) + var(--shine-width)));
  }

  100% {
    left: calc(1.5 * 200px);
  }
}
